<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(blue, purple);
    height: 100vh;
    padding-top: 12px;
    width: 100%;
  "
>

  <!-- Heading-->
  <h1 class="masthead-heading text-uppercase mb-0" style="color: white">
    Utkarsh Kaushik
  </h1>
<div style="display:flex;flex-direction:row;"
>
  <img
  src="/images/utk.jpg"
  class="card-img-top"
  alt="Owner Photo"
  style="width: 292.04px; height: 355px"
/>

<p>    &nbsp;</p>


  <img
  src="/images/UTK logo.png"
  class="card-img-top"
  alt="Logo"
  style="width: 429.1px; height: 355px"
  />
</div>
  <div
    class="card p-3 my-3"
    style="
      width: 18rem;
      background-color: white;
      border: 2px solid #d3d3d3;
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
    "
  >
    <div class="card-body">
      <p class="card-text">
        AIM:
        To secure a challenging position in an organization, where I can be
        given an opportunity to leverage my skills to contribute to propelling
        the company to achieve its desired objective.
      </p>
    </div>
  </div>
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
