<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(blue, purple);
    overflow-y: scroll;
    height: 100vh;
    padding-top: 700px;
  "
>
  <!-- Web Dev -->
  <h1 style="color: white">PROJECTS</h1>
  <div
    class="card p-3 my-1"
    style="
      width: 18rem;
      background-color: white;
      border: 2px solid #d3d3d3;
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
    "
  >
    <img
      src="/images/QR Code.png"
      class="card-img-top"
      alt="QR COde"
    />
    <div class="card-body">
      <p class="card-text">QR code generator using python</p>
    </div>
  </div>
  <div
    class="card p-3 my-3"
    style="
      width: 18rem;
      background-color: white;
      border: 2px solid #d3d3d3;
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
    "
  >
    <img
      src="/images/Camp Nou.jpg"
      class="card-img-top"
      alt="home away perf covid"
    />
    <div class="card-body">
      <p class="card-text">Analyzing home and away performances before and after COVID-19 of English and Italian football teams using Data Analysis</p>
    </div>
  </div>
  <div
    class="card p-3 my-3"
    style="
      width: 18rem;
      background-color: white;
      border: 2px solid #d3d3d3;
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
    "
  >
    <img
      src="/images/PL Teams.jpg"
      class="card-img-top"
      alt="PL feature eng"
    />
    <div class="card-body">
      <p class="card-text">
        Feature Engineering on Premier League Matches Data
      </p>
    </div>
  </div>
  <div
    class="card p-3 my-3"
    style="
      width: 18rem;
      background-color: white;
      border: 2px solid #d3d3d3;
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
    "
  >
    <img
      src="/images/Twitter analysis.png"
      class="card-img-top"
      alt="twitter analysis ss"
    />
    <div class="card-body">
      <p class="card-text">Sentiment Analysis of Twitter Data</p>
    </div>
  </div>
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
