<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(blue, purple);
    height: 100vh;
  "
>
  <div>
    <h1 style="color: white">SERVICES</h1>
  </div>
  <!-- Web Dev -->
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      height: 100vh;
    "
  >
    <div
      class="card p-3 mx-3"
      style="
        width: 18rem;
        background-color: white;
        border: 2px solid #d3d3d3;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 600;
      "
    >
      <img
        src="/images/web.png"
        class="card-img-top"
        alt="home web site screenshot"
      />
      <div class="card-body">
        <p class="card-text">Web Developer</p>
      </div>
    </div>
    <div
      class="card p-3 mx-3"
      style="
        width: 18rem;
        background-color: white;
        border: 2px solid #d3d3d3;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 600;
      "
    >
      <img
        src="/images/web.png"
        class="card-img-top"
        alt="home web site screenshot"
      />
      <div class="card-body">
        <p class="card-text">Software Developer</p>
      </div>
    </div>
    <!-- Software Dev -->
    <div
      class="card p-3 mx-3"
      style="
        width: 18rem;
        background-color: white;
        border: 2px solid #d3d3d3;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 600;
      "
    >
      <img
        src="/images/software.png"
        class="card-img-top"
        alt="home web site screenshot"
      />
      <div class="card-body">
        <p class="card-text">Data Analysis</p>
      </div>
    </div>
    <div
      class="card p-3 mx-3"
      style="
        width: 18rem;
        background-color: white;
        border: 2px solid #d3d3d3;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 600;
      "
    >
      <img
        src="/images/web.png"
        class="card-img-top"
        alt="home web site screenshot"
      />
      <div class="card-body">
        <p class="card-text">Automation Testing</p>
      </div>
    </div>
  </div>
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
